<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminProducts.css">
    <title>Administración de productos</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>

        <section class="admin-container">

            <div class="admin-container-titles">
                <h2>¡Hola! <%=user.userName%></h2>
                <h3>¿Qué deseas realizar?</h3>
            </div>

            <div class="options-container">
                <a href="/product/create/album" class="admin-options">
                    <span class="fa-sharp fa-solid fa-plus"></span>
                    <h4>Subir nuevo Álbum</h4>
                </a>
    
                <a href="/product/edit-list" class="admin-options">
                    <span class="fa-sharp fa-solid fa-pen-to-square"></span>
                    <h4>Editar Álbumes existentes</h4>
                </a>
            </div>
            
        </section>

    </main>

    <%- include('../partials/footer') %>
</body>
</html>