@import url(general.css);
@import url(styles_footer.css);

.main-desktop{
    display: none;
}

body{
    background-color: var(--marron_clarito);
}

main{
    background-color: var(--marron_clarito);
    margin-bottom: 50%;
}

img{
    width: 100%;
}

.logo-container{
    width: 60%;
    margin: 4% auto;
}

.mobile-register-login{
    background-color: var(--marron_medio);
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-register-login h2{
    text-align: center;
    margin: 2%;
}

.mobile-register-login-buttons{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-register-login-buttons button{
    margin: 5% 0;
    width: 200%;
    white-space: nowrap;
    padding: 8% 60%;
    border: 2px solid var(--negro);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
}

#btn-login{
    background-color: var(--naranja);
    color: var(--marron_clarito);
}

#btn-registro{
    background-color: var(--negro);
    color: var(--marron_clarito);
}

.about-section{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section header{
    margin: 5% auto;
}

.article-about{
    width: 100%;
    background-color: var(--marron_clarito);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 4%;
}

.article-title{
    text-align: center;
    white-space: nowrap;
}

.article-about p{
    margin-top: 3%;
    text-align: center;
}

.article-goals{
    width: 100%;
    background-image: url("/images/about/goals.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 20% 15%;
    text-align: center;
}

.article-goals h3{
    margin-bottom: 10%;
}

.article-description-container{
    background-color: #d9c6b093;
    padding: 8%;
    border-radius: 10px;
}

.article-values{
    width: 100%;
    background-image:url("/images/about/values.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 20% 15%;
    text-align: center;
}

.article-values h3{
    margin-bottom: 10%;
}

.article-p{
    margin: 8%;
    color: var(--negro);
}

.article-team{
    width: 100%;
    background-color: var(--marron_clarito);
    padding-top: 5%;
}

.article-team h3{
    text-align: center;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-team{
    margin: 5% 0;
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 5%;
    transition: background-color .5s ease-in-out;
}

.card-team img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-description{
    width: 100%;
    margin: 2% 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.card-description h4{
    margin-bottom: 2%;
}

.card-description p{
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 2%;
    overflow-wrap:break-word;
}

.card-description button{
    width: 100%;
    margin-top: 8%;
    padding: 3% 0;
    background-color: var(--negro);
    border: none;
    border-radius: 5px;
    color: var(--marron_clarito);
    font-weight: 600;
    cursor: pointer;
}

.card-rol{
    font-style: italic;
    text-decoration: underline;
}


p{
    font-size: 0.9rem;
    font-weight: 500;
}

.titulares{
    font-weight: 700;
    font-size: 1.2rem;
}

h3{
    font-weight: 600;
    font-size: 1rem;
}

/*TRANSITIONS*/
.article-description-container:hover{
    background-color: #bcb7b193;
}

.desktop-article-image:hover{
    opacity: 0.9;
}

.card-team:hover{
    background-color: #d2afac;
}


@media (min-width:768px){

    .card-container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-team{
        margin: 2% 2%;
        width: 40%;
    }

    .card-team img{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    main{
        margin-bottom: 10%;
    }
}

header nav{
    width: 40%;
    display: none;
}

.desktop-register-login-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.desktop-register-login-buttons li {
    width: 100%;
    margin-right: 15%;
}

.desktop-register-login-buttons li button{
    padding: 5% 28%;
    border: 2px solid var(--negro);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.main-desktop{
    margin-top: 5%;
}

.desktop-about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desktop-about-section header{
    background-color: #d9c6b080;
    padding: 4%;
}

.desktop-about-section header h2{
    font-size: 3rem;
    color: var(--negro);
}

.desktop-article-about{
    background-color: var(--marron_medio);
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
}

.desktop-article-about .desktop-article-title{
    font-size: 2rem;
    margin: 0% 5%;
    white-space: nowrap;
}

.desktop-article-titles{
    margin-bottom: 5%;
    font-size: 1.7rem;
    font-weight: 500;
}

.desktop-article-p{
    margin: 5% 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.desktop-article-goals{
    width: 100%;
    display: flex;
    background-color: var(--marron_clarito);
    align-items: center;
    justify-content: center;
}

.desktop-article-image{
    width: 70%;
    transition: opacity ease-in-out .5s;
}

.desktop-article-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.desktop-article-values{
    width: 100%;
    display: flex;
    background-color: var(--marron_clarito);
    align-items: center;
    justify-content: center;
}

@media (min-width:1024px){

    .main-desktop{
        display: flex;
    }

    body{
        background-image:url("/images/about/about_background2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    header nav{
        display: flex;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container{
        width: 13%;
        margin:2% 5%;
    }

    .card-container{
        flex-wrap: nowrap;
    }

    .article-team h3{
        font-size: 1.7rem;
        font-weight: 500;
    }

    .card-team{
        margin: 2% 1%;
        width: 20%;
    }

    .card-team img{
        width: 150px;
        height: 150px;
        margin-bottom: 6%;
    }

    main{
        margin-bottom: 5%;
        background-color: transparent;
    }

    .main-mobile{
        display:none;
    }

}