@import url(general.css);
@import url(styles_header.css);
@import url(styles_footer.css);

body{
    background-color: var(--marron_clarito);
}

main{
    margin-bottom: 50%;
    background-color: var(--marron_clarito);
}

.main-tracks{
    margin-top: 120px;
    margin-left: 3%;
    margin-right: 3%;
}

.main-tracks img{
    width: 100%;
}

.main-header{
    width: 100%;
    height: 100%;
    background-color: var(--naranja);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    font-size: 1.2rem;
}

.tracks{
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a68f725b;
    padding-top: 1%;
    border-radius: 30px;
}

.track-card{
    margin: 5% 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track-card-img{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.track-card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.track-card-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    background-color:#0d0d0d93;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: var(--marron_clarito);
    font-size: 1.3rem;
    transition: all .5s ease-in-out;
}

.track-button{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.track-button a{
    width: 100%;
}

.track-button button{
    width: 100%;
    padding: 4% 0;
    color: var(--marron_clarito);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#button-edit{
    background-color: var(--negro);
}

#button-delete{
    background-color: var(--marron_fuerte);
}

.track-card-img:hover > .track-card-name{
    opacity: 1;
    visibility: visible;
}

body{
    background-color: var(--marron_clarito);
}

footer{
    width: 100%;
    position: fixed;
    bottom: -15px;
}

@media (min-width:768px){
    .tracks{
        margin: 3% 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .track-card{
        margin: 3% 3%;
        width: 40%;
    }

    .main-header{
        padding: 1% 0;
    }
    main{
        margin-bottom: 15%;
    }
}

@media (min-width:1024px){
    .tracks{
        margin: 2% 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .track-card{
        margin: 1% 2%;
        width: 21%;
    }
    main{
        margin-bottom: 8%;
    }
}

