@import url(general.css);
@import url(styles_header.css);
@import url(styles_footer.css);

main{
    background-color: var(--marron_clarito);
}

.main-generes{
    margin-top: 120px;
    margin-left: 3%;
    margin-right: 3%;
}

.main-generes img{
    width: 100%;
}

.main-header{
    width: 100%;
    height: 100%;
    background-color: var(--naranja);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    font-size: 1.2rem;
}

.artists{
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a68f725b;
    padding-top: 1%;
    border-radius: 30px;
}

.artist-card{
    margin: 5% 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-card-img-name-artist{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.artist-card-img-name-artist img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.artist-card-name-artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    background-color:#0d0d0d93;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: var(--marron_clarito);
    font-size: 1.3rem;
    transition: all .5s ease-in-out;
}

.artist-button{
    width: 100%;
}

.artist-button button{
    width: 100%;
    padding: 3% 0;
    background-color: var(--negro);
    color: var(--marron_clarito);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}


.artist-card-img-name-artist:hover > .artist-card-name-artist{
    opacity: 1;
    visibility: visible;
}

body{
    background-color: var(--marron_clarito);
}


@media (min-width:768px){
    .artists{
        margin: 3% 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .artist-card{
        margin: 3% 3%;
        width: 40%;
    }

    .main-header{
        padding: 1% 0;
    }
    .artist-card-img-name-artist img{
        height: 300px;
    }
}

@media (min-width:1024px){
    .artists{
        margin: 2% 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .artist-card{
        margin: 1% 2%;
        width: 21%;
    }
    main{
        margin-bottom: 8%;
    }
    .artist-card-img-name-artist img{
        height: 320px;
    }
}