/*User-profile-----------------------------------------*/

.userName{
    width: 200px;
    height: 200px;
    margin: 200px auto;
    border-radius: 40px;
  
    padding: 30px;
    background-color: var(--bg-color);
  }
  .userName img{
    width: 60%;
    display: block;
    margin: 10px auto;
  }
  .userName h1{
    color : var(--logo-color);
    text-align: center;
  }
  .userName div a{
    color: var(--logo-color);
    text-decoration: none;
  }
  .btn-logout{
    margin: auto;
    background-color: #1f53c5;
    border: 1px solid black;
    height: 20px;
    width: 50px;
  
  }
  @media (min-width: 500px) {
    .userName{
      width: 400px;
      height: 400px;
      margin: 200px auto;
      border-radius: 40px;
    
      padding: 30px;
      background-color: var(--bg-color);
    }
    .btn-logout{
      height: 40px;
      width: 100px;
      padding: 10px 20px;
    }
  }