<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <link rel="stylesheet" href="/css/browser/browser.css">
</head>

<body>
    
    <main>

        <header>
            <h2>Buscar Álbumes</h2>
        </header>

        <form class="browserForm" action="" method="get">
            <input id="queryInput" type="text" name="query" placeholder="Nombre del álbum ..." />
        </form>

        <div class="listAlbums">
            <ul id="results">
            </ul>
        </div>
    </main>


    <script src="/scripts/browser/browser.js"></script>
</body>
</html>