<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <title>Acerca de nosotros</title>
</head>
<body>

    <header>
        <div class="logo-container">
            <a href="/sonata">
            <img class="logo" src="/images/imagen_logo_sonata_v2.png" alt="logo Sonata">
            </a>
        </div>

        <nav>
            <ul class="desktop-register-login-buttons">
                <li><a href="/login"><button id="btn-login">Iniciar Sesión</button></a></li>
                <li><a href="/register"><button id="btn-registro">Registrarme</button></a></li>
            </ul>
        </nav>

    </header>

    <!--Mobile section-->
    <main>

        <div class="main-mobile">
            <section class="mobile-register-login">
                <h2 class="titulares">¿Aún no estás registrad@?</h2>
    
                <div class="mobile-register-login-buttons">
                    <button id="btn-registro">Registrarme</button>
                    <h2 class="titulares">o</h2>
                    <button id="btn-login">Iniciar Sesión</button>
                </div>
            </section>
    
            <section class="about-section">
    
                <header>
                    <h2 class="titulares">ACERCA DE NOSOTROS</h2>
                </header>
    
                <article class="article-about">
    
                    <div class="article-title">
                        <h3>¿QUIÉNES SOMOS?</h3>
                    </div>
    
                    <p>SONATA está conformada por un grupo de desarrolladores dispuestos a dar el 100% de sus capacidades, con el propósito de bindar nuevas metodologías en la venta de productos y/o servicios Online.</p>
                
                </article>
    
                <article class="article-goals">
                    <div class="article-description-container">
                        <h3>NUESTRO OBJETIVO</h3>
                        <p class="article-p">Queremos ayudar a la gran comunidad de músicos emergentes a impulsar su talento para que sea reconocible a nivel mundial.</p>
                    </div>
                    
                </article>
    
                <article class="article-values">
    
                    <div class="article-description-container">
                        <h3>VALORES</h3>
                        <p class="article-p"><b>Innovación:</b> Estamos en búsqueda de la creatividad.</p>
                        <p class="article-p"><b>Calidad:</b> Enfocados a ofrecer cada día mejores productos.</p>
                        <p class="article-p"><b>Variedad:</b> Ofrecer una amplia selección de canciones de diferentes géneros y artistas a nuestros clientes.</p>
                    </div>
                    
                </article>
    
            </section>
        </div>
        
        <div class="main-desktop">

            <section class="desktop-about-section">

                <header>
                    <h2 class="titulares">ACERCA DE NOSOTROS</h2>
                </header>

                <article class="desktop-article-about">
                    <div class="desktop-article-title">
                        <h3 class="desktop-article-titles">¿QUIÉNES SOMOS?</h3>
                    </div>

                    <p class="desktop-article-p"><b>SONATA</b> está conformada por un grupo de desarrolladores dispuestos a dar el 100% de sus capacidades, con el propósito de bindar nuevas metodologías en la venta de productos y/o servicios Online.</p>
                </article>

                <article class="desktop-article-goals">
                    
                    <div class="desktop-article-image">
                        <img src="/images/about/goals.jpg" alt="">
                    </div>

                    <div class="desktop-article-description">
                        <h3 class="desktop-article-titles">NUESTRO OBJETIVO</h3>
                        <p class="desktop-article-p">Queremos ayudar a la gran comunidad de músicos emergentes a impulsar su talento para que sea reconocible a nivel mundial.</p>
                    </div>
                    
                </article>

                <article class="desktop-article-values">

                    <div class="desktop-article-description">
                        <h3 class="desktop-article-titles">VALORES</h3>
                        <p class="desktop-article-p"><b>Innovación:</b> Estamos en búsqueda de la creatividad.</p>
                        <p class="desktop-article-p"><b>Calidad:</b> Enfocados a ofrecer cada día mejores productos.</p>
                        <p class="desktop-article-p"><b>Variedad:</b> Ofrecer una amplia selección de canciones de diferentes géneros y artistas a nuestros clientes.</p>
                    </div>

                    <div class="desktop-article-image">
                        <img src="/images/about/values.jpg" alt="">
                    </div>
                    
                </article>

            </section>
        </div>




    </main>
    <!--END Mobile section-->

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>