<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/consultas.css">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="/sonata">
                <img class="logo" src="/images/imagen_logo_sonata_v2.png" alt="logo Sonata">
            </a>
        </div>

        <nav>
            <ul class="desktop-register-login-buttons">
                <li><a href="/login"><button id="btn-login">Iniciar Sesión</button></a></li>
                <li><a href="/register"><button id="btn-registro">Registrarme</button></a></li>
            </ul>
        </nav>

    </header>

    <section class="consultas-section">
        <h2 class="titulares">CONSULTAS</h2>


    </section>

    <section class="consultas">
        <div class="consulta-uno">
            <h2 class="subtitulos"> <b>¿Puedo descargar el contenido de manera gratuita? </b></h2>
            <p> Tomamos en cuenta el talento de nuestros artistas,
                es por ello que para contribuir a su tiempo y dedicación,</p>
            <p>ponemos en venta sus proyectos de audio. Por lo tanto,
                <b>no es posible descargar de forma gratuita.</b>
            </p>
            <div class="hashtag-consultas">
                <div class="btn-freelance">
                    <p>#freelance</p>
                </div>
                <div class="btn-contribute">
                    <p>#contribute</p>
                </div>
                <div class="like">
                    <p>¿Te sirvió? </p>
                    <div class="icono-uno">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i> 
                    </div>
                </div>
            </div>
        </div>

        <div class="consulta-dos">
            <h2 class="subtitulos"> <b>Métodos de pago </b></h2>
            <p> Nuestro sitio admite pagos a traves de:</p>
            <ul>
                <li>Tarjeta de debito/credito</li>
                <li>PayPal</li>
                <li>MODO</li>
            </ul>
            <div class="hashtag-pago">
                <div class="btn-pagos">
                    <p>#pagos</p>
                </div>
                <div class="btn-modo">
                    <p>#modo</p>
                </div>
                <div class="like">
                    <p>¿Te sirvió?</p>
                    <div class="icono-dos">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>

</html>