<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/frontPage.css">
    <title>GameZone</title>
    <link rel="shortcut icon" href="">
</head>

<body>
    <main>
        <section class="main-front">
            <div class="register-section">
                <div class="logo-container">
                    <img src="/images/imagen_logo_sonata_v1.png" alt="">
                </div>

                <div class="register-login-buttons">
                    <a href="/login">
                        <button id="login-button">Iniciar Sesión</button>
                    </a>
                    <a href="/register">
                        <button id="register-button">Registrarme</button>
                    </a>
                </div>
            </div>

            <!--Right image Desktop - Version-->
            <div class="desktop-right-section">
                <img src="/images/front/right-image.jpg" alt="">
            </div>
        </section>


        <section class="carousel-section">

            <div class="item-carousel" id="tarjeta1">
                <div class="card-carousel">
                    <h3>¿QUÉ ES SONATA?</h3>
                    <p>Somos una tienda de música Online. Ofrecemos proyectos de audio profesional creados por artistas
                        emergentes.</p>
                </div>
                <div class="arrows-carousel">
                    <a href="#tarjeta3">
                        <span class="fa-solid fa-chevron-left"></span>
                    </a>
                    <a href="#tarjeta2">
                        <span class="fa-solid fa-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="item-carousel" id="tarjeta2">
                <div class="card-carousel">
                    <h3>¿ES GRATUITO?</h3>
                    <p>Para adquirir los proyectos, primero deberás agregarlos al carrito de compra.</p>
                </div>
                <div class="arrows-carousel">
                    <a href="#tarjeta1">
                        <span class="fa-solid fa-chevron-left"></span>
                    </a>
                    <a href="#tarjeta3">
                        <span class="fa-solid fa-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="item-carousel" id="tarjeta3">
                <div class="card-carousel">
                    <h3>CALIDAD</h3>
                    <p>Siempre estamos adquiriendo nuevos talentos musicales.</p>
                </div>
                <div class="arrows-carousel">
                    <a href="#tarjeta2">
                        <span class="fa-solid fa-chevron-left"></span>
                    </a>
                    <a href="#tarjeta1">
                        <span class="fa-solid fa-chevron-right"></span>
                    </a>
                </div>
            </div>
        </section>

        <div class="carousel-points-container">
            <a href="#tarjeta1"><span class="fa-solid fa-circle"></span></a>
            <a href="#tarjeta2"><span class="fa-solid fa-circle"></span></a>
            <a href="#tarjeta3"><span class="fa-solid fa-circle"></span></a>
        </div>

    </main>

    <!--Footer-->
    <%- include('./partials/footer') %>

</body>

</html>