<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/generes.css">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <title>Géneros: Rock</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main class="main-generes">
        <div class="main-header">
            <h3>ROCK</h3>
        </div> 

        <section class="artists">

            <%filtra.forEach(function(artista) { %>

            <article class="artist-card">
                <div class="artist-card-img-name-artist">
                    <img src="<%=artista.img %>" alt="imagen_artista">
                    <div class="artist-card-name-artist">
                        <h4><%=artista.nombreArtista%></h4>
                    </div>
                </div>

                <a class="artist-button">
                    <button>VER CONTENIDO</button>
                </a>

            </article>
            <% }); %>
        </section>
    </main>


    <!--Footer-->
    <%- include('./partials/footer') %>

</body>
</html>