<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Titulo e icono de la pestaña-->
        <title>¡Bienvenidos a Sonata!</title>
        <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">

        <!--CDN FONT AWESOME-->
        <script src="https://kit.fontawesome.com/0aeb7696ea.js"
            crossorigin="anonymous"></script>

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

        <!--CUSTOM CSS-->
        <link rel="stylesheet" href="/css/Pagina Principal/presentacion.css">
        <link rel="stylesheet" href="/css/Pagina Principal/filtrador.css">
        <link rel="stylesheet" href="/css/Pagina Principal/tarjetasOfertas.css">
        <!-- <link rel="stylesheet"
            href="/css/Pagina Principal/carruselDeProductos.css"> -->

    </head>

    <body>

        <%- include('./partials/header') %>

        <section class="presentacion">
            <section class="presentacion_marca">
                <h2 id="typed-text">WELCOME TO <br> SONATA</h2>

                <section class="boton_presentacion_productos">
                    <a href>View all products</a>
                </section>

            </section>

            <img class="imagen_presentacion_movil"
                src="images/banner/personaPresentacion.png"
                alt="Persona de presentación de Pagina">

            <span class="btn_fondoColor" href>
                <i class="fa-solid fa-moon"></i>
            </span>

            <section class="presentacion_productos">
                <img src="images/banner/banner1.jpeg" alt>
                <h2 id="text_imagen_banner">
                    <div class="estilo_imagen_banner"><i
                            class="fa-solid fa-music fa-beat-fade"></i> The
                        best<br>experience <i
                            class="fa-solid fa-music fa-beat-fade"></i></div>
                </h2>
            </section>

            <div class="particulas">
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
                <span><i class="fa-solid fa-music fa-beat"></i></span>
            </div>
        </section>


        <section class="contenedor_ofertas">
            <h2 class="contenedor_ofertas_titulo">Las mejores ofertas!!</h2>
            <section class="contenedor_ofertas_slider">
                <img class="oferta_imagen"
                    src="images/banner/imagen_Ofertas.png"
                    alt="Chica de presentación de ofertas">

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <section class="swiper-slide tarjeta_album_ofertas">
                            <div class="tarjeta_album_ofertasFondo">
                                <h2 class="tarjeta_album_ofertas_titulo">Titulo
                                    Oferta</h2>
                                <img class="imagen_tarjeta_album_oferta"
                                    src="images/imagenes_albumsGenerales/imagen_album1.jpg">
                                <div class="anuncio_oferta">
                                    <h3>70%</h3>
                                </div>

                                <p class="tarjeta_album_ofertas_descripcion">Lorem
                                    ipsum
                                    dolor sit amet Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Temporibus
                                    eligendi,
                                    consequuntur repellendus amet autem
                                    necessitatibus odit aperiam vitae iusto illo
                                    dignissimos.</p>
                                <span class="tarjeta_album_ofertas_boton">Boton</span>
                            </div>
                        </section>

                        <section class="swiper-slide tarjeta_album_ofertas">
                            <div class="tarjeta_album_ofertasFondo">
                                <h2 class="tarjeta_album_ofertas_titulo">Titulo
                                    Oferta</h2>
                                <img class="imagen_tarjeta_album_oferta"
                                    src="images/imagenes_albumsGenerales/imagen_album1.jpg">
                                <div class="anuncio_oferta">
                                    <h3>70%</h3>
                                </div>

                                <p class="tarjeta_album_ofertas_descripcion">Lorem
                                    ipsum
                                    dolor sit amet Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Temporibus
                                    eligendi,
                                    consequuntur repellendus amet autem
                                    necessitatibus odit aperiam vitae iusto illo
                                    dignissimos.</p>
                                <span class="tarjeta_album_ofertas_boton">Boton</span>
                            </div>
                        </section>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </section>

        </section>

        <section class="filtrador">

            <section class="filtrador_contenedor_botones">

                <section class="contenedor_boton_desplegable">
                    <h2>Últimos Albumes</h2>
                    <span class="boton_generos">Seleccionar generos
                        <i class="fa-solid fa-chevron-down flecha_submenu-boton"></i>
                    </span>
                </section>

                <section class="filtrador_botones_desplegable">
                    <span id="todo">Todo</span>
                    <span id="rock">rock</span>
                    <span id="pop">pop</span>
                    <span id="clásica">classic</span>
                    <span id="rap">rap</span>
                    <span id="electronica">electronic</span>
                    <span id="otro">otro</span>
                    <span id="nada_desplegable"><i class="fa-solid fa-xmark"></i></span>
                </section>

            </section>

        </section>

        <section class="section_generos">
            <span class="botonDesplazamientoFiltrador prev"><i
                    class="fa-solid fa-caret-left"></i></span>
            <div class="contenedor_genero">
                <span class="genero boton_filtrador" id="nada"><i
                        class="fa-solid fa-xmark"></i></span>
                <section class="division filtrador_botones">
                    <span class="genero boton_filtrador" id="todo">Todo</span>
                    <span class="genero boton_filtrador" id="rock">Rock</span>
                    <span class="genero boton_filtrador" id="pop">Pop</span>
                    <span class="genero boton_filtrador" id="classic">Clasica</span>
                    <span class="genero boton_filtrador" id="rap">Rap</span>
                    <span class="genero boton_filtrador2" id="electronic">Electrónica</span>
                </section>
            </div>
            <span class="botonDesplazamientoFiltrador next"><i
                    class="fa-solid fa-caret-right"></i></span>
        </section>

        <!-- Contenedor de albumes traidos por la api de productos-->
        <section class="contenedor_albumes_filtrar">
            <%- include('./partials/index/productosGeneros') %>
        </section>
        

        <section class="banner_publicidad">
            <img class=""
                    src="images/banner/bannerPublicidad.png"
                    alt="Chica de presentación de ofertas">
        </section>
        <%- include('./partials/footer') %>
        <!--Footer-->
        

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="/scripts/script-slider-responsive.js"></script>

        <!-- Custom JS -->
        
        <script src="/scripts/modoOscuro.js"></script>
        <script src="/scripts/headerColor.js"></script>
        <script src="/scripts/filtrador.js"></script>
        <script src="/scripts/productos/productos.js"></script>
        <%- include('./partials/scripts') %>
    </body>

</html>