<link rel="stylesheet" href="/css/styles_footer.css">

<footer>
    <p><i class="fa-regular fa-copyright"></i> Copyrigth</p>

    <ul class="enlaces_informacion">
        <li><a href="/consultas">Consultas</a></li>
        <li><a href="/about">Acerca de nosotros</a></li>
    </ul>

    <ul class="enlaces_sociales">
        <li class="red_social"><a target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li class="red_social"><a target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="red_social"><a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
    </ul>

</footer>