<header>
    
    <div>
        <a href="/"><img class="logo" src="/images/imagen_logo_sonata_v2.png" alt=""></a>
    </div>
    

    <label for="check">
        <i class="boton_menu fa-solid fa-bars"></i>
    </label>

    <ul class="nav-menu">
        <li class="btn btn-home"><a href="/general"><i class="icono-home fa-solid fa-house"></i> Home</a></li>

        <li class="btn btn-carrito"><a href="/checkout"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>

        <li class="btn btn-busqueda">
            <form class="formulario_buscador" action="">
                <input class="campo_formulario" type="search" placeholder="Buscar artista">
                <button class="boton_formulario" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </li>

    </ul>

    <!--Boton de usuario o menú-->
    <div class="btn-usuario-x" for="usuario_check">
        <i class="fa-solid fa-user"></i>
    </div>

</header>