<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">
    <script src="https://kit.fontawesome.com/0aeb7696ea.js" crossorigin="anonymous"></script>
    <title>Configuración de usuario</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="/images/imagen_logo_sonata_v2.png" alt="">
        </div>
        <input type="checkbox" name="" id="check">
        <label for="check">
            <i class="boton_menu fa-solid fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li class="btn-home"><a href="/"><i class="icono-home fa-solid fa-house"></i> HOME</a></li>
            <li class="btn-carrito"><a href="/"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="btn-busqueda">
                <form action="">
                    <input type="search" placeholder="Buscar artista">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </li>
            <li class="btn-usuario"><a href="/"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </header>
 
    <footer>
        <p><i class="fa-regular fa-copyright"></i> Copyright</p>

        <ul class="enlaces_informacion">
            <li><a href="">Consultas</a></li>
            <li><a href="">Acerca de nosotros</a></li>
        </ul>

        <ul class="enlaces_sociales">
            <li class="red_social"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="red_social"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li class="red_social"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        </ul>

    </footer>
</body>
</html>